<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= image_tag @article.cover.url(:small) %>
<p><%= link_to "Download PDF" , @article.pdfLink.url%> <p>

<%= link_to "<< Back to Articles List", articles_path %>